.icon-sidebar-menu {
  font-size: 1.5em;
  color: #448AFF;
  margin-right: 5px;
}

.fix-width-material-input {
  width: 100%;
}
.bs-callout-info {
  border-left-color: #448AFF !important;
  border-left: 3px;
  border-left-style: solid;
}
.ta-resize {
  resize: none;
}


.adp-listheader{
  font-size: 17px;
  font-weight:600;
  text-align: center;
}
.logo {
  font-size: 30px;
  color: white;
  margin-top: 14px;
}

.mg-0 {
  margin: 2px 0;
}

.logo-blue {
  color: #265a88;
}
.mg-l-5 {
  margin-left: 5px;
}
.pad-list {
  padding: 5px;
  border: 0;
  color: white;
  border-radius: 5px;
  margin-bottom: 5px;
}

.pad-list::-webkit-input-placeholder {
  color: white !important;
}

.icon-close {
  margin-left: -25px;
  margin-top: 7px;
}

.font-statistic {
  margin: 0;
  font-size: 94px;
}

.tr_corrida .corrida {
  border: 1px solid #d70035;
  width: 49px;
  padding: 1px 8px;
  font-size: 17px;
}